body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  /* Style for student ID aligned to the right */
  .student-info {
    text-align: right;
    margin-bottom: 20px;
  }
  
  nav {
    background-color: #7accea;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}


  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
  }
  
  /* Bold headings */
  th {
    font-weight: bold;
    padding: 10px;
  }
  
  /* Table cell background color and hover effect */
  td {
    padding: 10px;
    background-color: #f2f2f2; /* hex format */
    text-align: center;
  }
  
  td:hover {
    background-color: #d9eaff;
  }
  
  /* borders */
  table, th, td {
    border: 1px solid #aaa;
  }